* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slider {
    width: 100%;
    font-family: sans-serif;
    scroll-snap-type: x mandatory;	
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.section-container{
    margin-left: 1.23rem;
}


section {
    height: auto;
    background-color:rgba(56, 182, 255, 0.08);
    padding: 1.23rem;
    min-width: 23rem;
    scroll-snap-align: start;
    text-align: left;
    position: relative;
    border-radius: 2.23rem;
}


#small-section {
    height: auto;
    background-color:rgba(56, 182, 255, 0.08);
    padding: 1.23rem;
    min-width: 18rem;
    scroll-snap-align: start;
    text-align: left;
    position: relative;
    border-radius: 2.23rem;
}

h1	{
    margin-top: 0.23rem;
    transform: translateY();
    text-align: left;
    color: var(--dark);
    width: 100%;
    left: 0;
    font-size: 1.23rem;
}

.img-container{
    width:100%;
    border-radius: 1.23rem;
}

img{
    width: 23rem;
    height: 15rem;
    border-radius: 1.23rem;
}

#small-img{
    width: 4rem;
    max-height: 8rem;
    border-radius: 1.23rem;
}
