
html, body {
	position: relative;
	width: 100%;
	height: 95%;
	background-color: var(--light);
}


body{
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	background-color: var(--dark);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: 'Inter', sans-serif;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0 0;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 2px;
	
}

input:disabled {
	color: #ccc;
}

input:focus{
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
	background: 
  linear-gradient(var(--light), var(--light)) padding-box,
  linear-gradient(90deg, #5271FF 0%, #38B6FF 100%) border-box;
}

input[type="range"] {
	height: 0;
}

button {
	height: 3.23rem;
	border: none;
	border-radius: 23rem;
}

button:disabled {
	border: none;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border: none;
}

/* extra styles */
body{
  
  background: #eee;
  padding: 0;
}
h1{
  color: orangered;
}


:root{

	--main: #4592FF;
	--primary: #709CD4;
	--light: #F6F8FF;
	--dark: #6578B7;
	--lighttext: #BDD1F9;
	--purple: #5271FF;
	--blue: #38B6FF;
	--placeholdertext: rgba(101, 120, 183, 0.55);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
}

.page-template{
	background-color: var(--light);
}
