    .body-container{
        display: flex;
        flex-direction: column;
        width: 333px;
    }

    .form-container{
        width: 100%;
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        margin-bottom: 1.23rem;
        padding: 1.23rem;
        background-color: var(--light);
        border: 2.23px solid rgba(112, 156, 212, 0.0);
        background: 
      linear-gradient(var(--light), var(--light)) padding-box,
      linear-gradient(90deg, #5271FF 0%, #38B6FF 100%) border-box;
        box-shadow: 1px 4px 4px rgba(82, 101, 165, 0.12);
        border-radius: 33px;
    }

    .form-heading{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        letter-spacing: -0.02em;
        background: -webkit-linear-gradient(45deg, #5271FF, #38B6FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-subtitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 119.7%;
        letter-spacing: -0.02em;
        color: var(--dark);
    }

    .form-card{
        margin-top: 0.55rem;
    }

    .input-title-flex{
        margin-top: 0.55rem;
    }

    .label-input{
        margin-top: 0.23rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.23px;
        color: var(--placeholdertext);
    }

    .label-p-input{
        margin-top: 0.23rem;
        margin-bottom: 0.55rem;
        font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 119.7%;
          letter-spacing: -0.02em;
          color: var(--dark);
    }

    .form-control{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        height: 2.23rem;
        border-radius: 23rem;
        border: 2.23px solid rgba(112, 156, 212, 0.44);
        width: 100%;
        color: var(--main);
        font-size: 14px;
    }

    .form-control::placeholder, .textarea-form-control::placeholder, .skill-form-control::placeholder{
        color: var(--placeholdertext);
    }

    .form-control:focus, .textarea-form-control:focus, .skill-form-control:focus{
        outline-style: none;
	    box-shadow: none;
	    border-color: transparent;
        background: 
      linear-gradient(var(--light), var(--light)) padding-box,
      linear-gradient(90deg, #5271FF 0%, #38B6FF 100%) border-box;
    }

    .textarea-form-control{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        border-radius: 1.23rem;
        border: 2.23px solid rgba(112, 156, 212, 0.44);
        width: 100%;
        color: var(--main);
        font-size: 14px;
        resize: none !important;
    }

    .skill-flex{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.55rem;
        margin-top: 0.23rem;
    }
  
    .left-items{
        width: 48%;
    }
  
    .right-items{
        width: 48%;
    }
  
    .skill-form-control{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        height: 2.23rem;
        border-radius: 23rem;
        border: 2.23px solid rgba(112, 156, 212, 0.44);
        width: 100%;
        color: var(--main);
        font-size: 12px;
    }

    .button-flex{
        display: flex;
        justify-content: flex-end;
        margin-top: 0.55rem;
    }
    
    .button{
        margin-top: 0.23rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.23px;
        width: 5.5rem;
        height: 2.3rem;
        font-size: large;
        color: white;
        background-image: linear-gradient(
        45deg,
        hsl(237deg 81% 60%) 0%,
        hsl(218deg 94% 54%) 20%,
        hsl(210deg 100% 50%) 40%,
        hsl(205deg 100% 50%) 60%,
        hsl(201deg 100% 50%) 80%,
        hsl(202deg 100% 61%) 100% );
        border-radius: 23rem;
        text-align: center !important;
    }
    

/****************** MEDIA QUERY BEGINS *************************/
/* Used to create responsive websites, by declaring min & max screen sizes*/

  @media only screen and (max-width: 777px){
 
    .body-container{
        padding-top: 1.23rem;
        margin-left: 1.23rem;
        width: 444px;
    }

    .form-heading{
        font-size: 33px;
    }

    .form-subtitle{
        font-size: 16px;
    }

}
/* MEDIA QUERY ENDS */
/*******************************************/